#!/usr/bin/make -f

SHELL := /bin/bash

export DH_VERBOSE=1
export DESTDIR=$(CURDIR)/debian/tmp
export DEB_HOST_ARCH ?= $(shell dpkg-architecture -qDEB_HOST_ARCH)

export DEB_CFLAGS_SET=-O3 -DNDEBUG -fstack-protector-strong -Wformat -Werror=format-security -Wno-maybe-uninitialized -Wno-unused-variable -Wno-deprecated-declarations -DFMT_DEPRECATED_OSTREAM
export DEB_CPPFLAGS_SET=-Wdate-time -D_FORTIFY_SOURCE=2
export DEB_CXXFLAGS_SET=-O3 -DNDEBUG -fstack-protector-strong -Wformat -Werror=format-security -Wno-maybe-uninitialized -Wno-unused-variable -Wno-deprecated-declarations -DFMT_DEPRECATED_OSTREAM
export DEB_LDFLAGS_SET=-Wl,-Bsymbolic-functions -Wl,-z,relro -Wl,--as-needed
export DEB_BUILD_MAINT_OPTIONS=hardening=+all optimize=-lto

CC = $(shell which gcc-13 || which gcc-12 || which gcc-11 || which gcc-10 || which gcc-9 || which gcc-8 || which gcc-7 || which gcc)
CXX = $(shell which g++-13 || which g++-12 || which g++-11 || which g++-10 || which g++-9 || which g++-8 || which g++-7 || which g++)

extraopts += -DCMAKE_C_COMPILER=$(CC)
extraopts += -DCMAKE_CXX_COMPILER=$(CXX)

extraopts += -DCMAKE_BUILD_TYPE=Release
extraopts += -DCMAKE_C_FLAGS="$(CFLAGS)"
extraopts += -DCMAKE_CXX_FLAGS="$(CXXFLAGS)"
extraopts += -DCMAKE_SHARED_LINKER_FLAGS="$(LDFLAGS)"
extraopts += -DBUILD_SHARED_LIBS=ON
extraopts += -DPOSITION_INDEPENDENT_CODE=ON

extraopts += -DCEPH_SYSTEMD_ENV_DIR=/etc/default
extraopts += -DCMAKE_INSTALL_LIBEXECDIR=/usr/lib
extraopts += -DCMAKE_INSTALL_SYSCONFDIR=/etc
extraopts += -DCMAKE_INSTALL_SYSTEMD_SERVICEDIR=/lib/systemd/system

extraopts += -DWITH_BLUESTORE_PMEM=OFF
extraopts += -DWITH_CCACHE=ON
extraopts += -DWITH_CEPHFS_JAVA=OFF
extraopts += -DWITH_CEPHFS_SHELL=ON
extraopts += -DWITH_DEBUG=OFF
extraopts += -DWITH_EMBEDDED=OFF
extraopts += -DWITH_FMT_HEADER_ONLY=ON
extraopts += -DWITH_GRAFANA=ON
extraopts += -DWITH_LIBURING=ON
extraopts += -DWITH_LTTNG=OFF
extraopts += -DWITH_MGR_DASHBOARD_FRONTEND=OFF
extraopts += -DWITH_NSS=ON
extraopts += -DWITH_OCF=ON
extraopts += -DWITH_PYTHON2=OFF
extraopts += -DWITH_PYTHON3=3
extraopts += -DWITH_RADOSGW_KAFKA_ENDPOINT=OFF
extraopts += -DWITH_RADOSGW_SELECT_PARQUET=OFF
extraopts += -DWITH_RBD_RWL=OFF
extraopts += -DWITH_RBD_SSD_CACHE=OFF
extraopts += -DWITH_SELINUX=OFF
extraopts += -DWITH_SPDK=OFF
extraopts += -DWITH_SYSTEMD=ON
extraopts += -DWITH_SYSTEM_ARROW=OFF
extraopts += -DWITH_SYSTEM_BOOST=OFF
extraopts += -DWITH_SYSTEM_LIBURING=OFF
extraopts += -DWITH_SYSTEM_PMDK=OFF
extraopts += -DWITH_SYSTEM_UTF8PROC=OFF
extraopts += -DWITH_TESTS=OFF

%:
	dh $@ --buildsystem=cmake --with javahelper,python3,systemd --max-parallel=16

override_dh_auto_configure:
	env | sort
	dh_auto_configure --buildsystem=cmake -- $(extraopts) $(CEPH_EXTRA_CMAKE_ARGS)

override_dh_auto_build:
	dh_auto_build --buildsystem=cmake
	cp src/init-radosgw debian/radosgw.init

override_dh_auto_clean:
	dh_auto_clean --buildsystem=cmake
	rm -f debian/radosgw.init debian/ceph.logrotate

override_dh_auto_install:
	dh_auto_install --buildsystem=cmake --destdir=$(DESTDIR)
	install -D -m 644 udev/50-rbd.rules $(DESTDIR)/lib/udev/rules.d/50-rbd.rules
	install -D -m 644 src/etc-rbdmap $(DESTDIR)/etc/ceph/rbdmap
	install -D -m 644 etc/sysctl/90-ceph-osd.conf $(DESTDIR)/etc/sysctl.d/30-ceph-osd.conf
	install -D -m 440 sudoers.d/ceph-smartctl $(DESTDIR)/etc/sudoers.d/ceph-smartctl

	install -m 755 src/cephadm/cephadm $(DESTDIR)/usr/sbin/cephadm

	install -m 644 -D monitoring/ceph-mixin/prometheus_alerts.yml $(DESTDIR)/etc/prometheus/ceph/ceph_default_alerts.yml

	# fixup for bionic
	mkdir -p $(DESTDIR)/usr/lib/python3/dist-packages
	mv $(DESTDIR)/usr/lib/python*/site-packages/* $(DESTDIR)/usr/lib/python3/dist-packages/ || echo $$?

# doc/changelog is a directory, which confuses dh_installchangelogs
override_dh_installchangelogs:
	dh_installchangelogs --exclude doc/changelog

override_dh_installdocs:

override_dh_installlogrotate:
	cp src/logrotate.conf debian/ceph-common.logrotate
	dh_installlogrotate -pceph-common

override_dh_installinit:
	# install the systemd stuff manually since we have funny service names
	install -d -m0755 debian/ceph-common/etc/default
	install -m0644 etc/default/ceph debian/ceph-common/etc/default/
	install -d -m0755 debian/ceph-common/usr/lib/tmpfiles.d
	install -m 0644 -D systemd/ceph.tmpfiles.d debian/ceph-common/usr/lib/tmpfiles.d/ceph.conf

	dh_installinit -p ceph-base --name ceph --no-start
	dh_installinit -p radosgw --no-start

	# NOTE: execute systemd helpers so they pickup dh_install'ed units and targets
	dh_systemd_enable
	dh_systemd_start --no-restart-on-upgrade

override_dh_systemd_enable:
	# systemd enable done as part of dh_installinit

override_dh_systemd_start:
	# systemd start done as part of dh_installinit

override_dh_shlibdeps:
	dh_shlibdeps -a --exclude=erasure-code --exclude=rados-classes --exclude=compressor --exclude=ceph_crypto

override_dh_python3:
	for binding in rados cephfs rbd rgw; do \
	  dh_python3 -p python3-$$binding;      \
	done
	dh_python3 -p python3-ceph-argparse
	dh_python3 -p python3-ceph-common
	dh_python3 -p cephfs-shell
	dh_python3 -p cephfs-top
	dh_python3 -p cephadm

# do not run tests
override_dh_auto_test:

.PHONY: override_dh_autoreconf override_dh_auto_configure override_dh_auto_build override_dh_auto_clean override_dh_auto_install override_dh_installdocs override_dh_installlogrotate override_dh_installinit override_dh_systemd_start override_dh_strip override_dh_auto_test
